<p>main-c works!</p>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * 
  

<h1>{{title}}</h1>
<nav>
  <a routerLink="/welcome">Welcome</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<h1>{{title}}</h1>
<nav>
  <a routerLink="/generalinfo">General Information</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<h1>{{title}}</h1>
<nav>
  <a routerLink="/crown">Crown</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<h1>{{title}}</h1>
<nav>
  <a routerLink="/thirdeye">Third Eye</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<h1>{{title}}</h1>
<nav>
  <a routerLink="/throat">Throat</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<h1>{{title}}</h1>
<nav>
  <a routerLink="/heart">Heart</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<h1>{{title}}</h1>
<nav>
  <a routerLink="/solarplexus">Solar Plexus</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>



<h1>{{title}}</h1>
<nav>
  <a routerLink="/sacral">Sacral</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
  

<h1>{{title}}</h1>
<nav>
  <a routerLink="/root">Root</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


  * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <style>
  
  
    
  
  
  </style>
  
  
  <!-- Side Navigation Menu -->
  
  <!-- <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav">
  
          <button color="primary" mat-button routerLink="/welcome">Welcome</button>
          <button color="primary" mat-button routerLink="/info">More Info</button>
          
          <button color="primary" mat-button routerLink="/crown">Crown</button> 
          
          
          <button color="primary" mat-button routerLink="/thirdeye">Third-Eye</button>
          <button color="primary" mat-button routerLink="/throat">Throat</button>
          <button color="primary" mat-button routerLink="/heart">Heart</button>
          <button color="primary" mat-button routerLink="/solar">Solar Plexus</button>
          <button color="primary" mat-button routerLink="/sacral">Sacral</button>
          <button color="primary" mat-button routerLink="/root">Root</button> 
    
         
          </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
               
                <span class='spacer'></span> -->
              <!--   <mat-icon></mat-icon> -->
     <!--       </mat-toolbar-row>
        </mat-toolbar>
       <router-outlet></router-outlet>
    </div>
  </mat-drawer-container> -->
  
  <p>be be bop</p>
  
  
  <!-- Top Toolbar -->
  
  <div class="toolbar" role="banner">
  
   
   <!-- <span>Welcome</span> --> 
   <div class="spacer"></div>
    
  <span><h1 style="text-align: center;"><strong><em> Overview of the Seven Centers of Energy Flow </em></strong></h1></span> 
      
  
  
  
    </div>    
  
  
  
  <div class="content" role="main">
  
    
    <!-- Highlight Card -->
    
    <div class="card highlight-card card-small">
      <h2>Welcome!</h2>
    
    
  
    </div>
  
  
  
  
      <!-- More Info routed links -->
        <a class="card" target="_blank" rel="noopener" routerLink="./info/info.module" routerLinkActive="active">  <!-- points to crown webpage -->       
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chakras_map.svg/256px-Chakras_map.svg.png" style="width:60px;height:60px;"> 
          <span><h3>General Info</h3></span>
        </a>      
    
  
      <!-- Crown Chakra Card -->
      <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">  <!-- points to crown webpage -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Chakra7.svg/512px-Chakra7.svg.png" style="width:60px;height:60px;">
  
        <span><h3>Crown Chakra</h3></span>  
      </a>
  
  
       <!-- "Third Eye" Chakra Card -->
      <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">  <!-- points to third eye webpage -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chakra6.svg/512px-Chakra6.svg.png" style="width:60px;height:60px;">
  
        <span><h4>"Third Eye" Chakra</h4></span>
      </a>
  
  
       <!-- Throat Chakra Card -->
      <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">  <!-- points to throat webpage -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Chakra5.svg/512px-Chakra5.svg.png" style="width:60px;height:60px;">
  
        <span><h3>Throat Chakra</h3></span>
      </a>
  
  
      
       <!-- Heart Chakra Card -->
        <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">  <!-- points to heart webpage -->
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Chakra4.svg/512px-Chakra4.svg.png" style="width:60px;height:60px;">
    
          <span><h3>Heart Chakra</h3></span>
      </a>
    
    
         <!-- Solar Plexus Chakra Card -->
        <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli"> <!-- points to solar plexus webpage -->
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Chakra3.svg/512px-Chakra3.svg.png" style="width:60px;height:60px;">
    
          <span><h4>Solar Plexus Chakra</h4></span>
        </a>
    
  
    
         <!-- Sacral Chakra Card -->
        <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/"> <!-- points to sacral webpage -->
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Chakra2.svg/512px-Chakra2.svg.png" style="width:60px;height:60px;">
    
          <span><h3>Sacral Chakra</h3></span>
        </a>
  
  
  
  
        <!-- Root Chakra Card -->
        <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">  <!-- points to root webpage -->
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Chakra1.svg/512px-Chakra1.svg.png" style="width:60px;height:60px;">
    
          <span><h3>Root Chakra</h3></span>
        </a>
  
    <!-- </div> -->
  
  
    <!-- Links -->
    <div class="card-container">
  
    
      <a class="circle-link" title="Info" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chakras_map.svg/256px-Chakras_map.svg.png" style="width:30px;height:30px;">  
      </a>
  
  
      <a class="circle-link" title="Crown" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Chakra7.svg/512px-Chakra7.svg.png" style="width:30px;height:30px;">  
      </a>
  
  
  
      <a class="circle-link" title="Third-Eye" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chakra6.svg/512px-Chakra6.svg.png" style="width:30px;height:30px;">
    </a>
  
  
      <a class="circle-link" title="Throat" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Chakra5.svg/512px-Chakra5.svg.png" style="width:30px;height:30px;">
     </a>
  
      <a class="circle-link" title="Heart" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Chakra4.svg/512px-Chakra4.svg.png" style="width:30px;height:30px;">
      </a>
  
  
      <a class="circle-link" title="Solar Plexus" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Chakra3.svg/512px-Chakra3.svg.png" style="width:30px;height:30px;">
      </a>
  
  
      <a class="circle-link" title="Sacral" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Chakra2.svg/512px-Chakra2.svg.png" style="width:30px;height:30px;">
      </a>
  
  
      <a class="circle-link" title="Root" href="https://www.meetup.com/find/?keywords=angular" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Chakra1.svg/512px-Chakra1.svg.png" style="width:30px;height:30px;">
  
      </a>
  
  
     
      
    </div>
  
  
  
    <!-- Footer -->
    <footer>
        Want to learn more?&nbsp;
       
        <a href="https://iarp.org/chakra-basics" target="_blank" rel="noopener"> Check out this link. </a>
  

  
    </footer>
    
  </div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  
  
  <!-- <router-outlet></router-outlet> -->


