<!-- <p>sacral-c works!</p> -->

<div class="cnr"> 
    <br>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Chakra2.svg/512px-Chakra2.svg.png" style="width:160px;height:160px;" class="cnr">
      <br>
  </div>


<div class="sarl">

  <br><br><br><br><br><br>
  <h2 ><strong>Chakra 2: Sacral</strong></h2>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<strong>Sanskrit & Meaning</strong>: Svadhishthana - “One’s own place”, “Your own seat”  <br><br>

<strong>Location</strong>: Lower abdomen, above the sexual organs and below the navel <br><br>

<strong>Element</strong>: Water <br><br>

<strong>Sound or Mantra</strong>: "Vam"  <br><br>

<strong>Color</strong>:  Orange <br><br>

<strong>Message</strong>: “I am feeling.”  “I am the creator of my desires." <br><br>

<strong>Balanced</strong>: Ability to fully create desires; curious; optimistic, vibrant, playful, 
<br> accurate discernment, trust in “gut feeling”; enthusiastic; connected to <br> personal development and inner wisdom <br><br>

<strong>Imbalanced</strong>: Emotional, sexual and creative imbalances; inability to “feel” or enjoy the surrounding world; <br> 
reproductive and lymphatic issues; inflexible; sexual obsessions or lack/repressed sexual desire; <br> dependencies 
 on others or substances; overly emotional; poor boundaries; feelings of detachment <br><br>

<strong>Ways to Correct Imbalances</strong>: Make plans that move you toward your passions; master your sexuality; belly dancing, <br> 
stretching; create something (art, music, a written work; use of the color orange in surroundings, visit places with <br> 
running water (waterfall, lake, ocean, river, stream, aquarium…) <br><br>

</div>