<!-- <p>solar-c works!</p> -->

<div class="centrr">
    <br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Chakra3.svg/512px-Chakra3.svg.png" style="width:160px;height:160px;" class="centrr">
    <br><br>
</div>

    
<div class="solr"> 

    <br><br><br><br><br>

 <h2 style="text-align: center; vertical-align:middle;"><strong>Chakra 3: Solar Plexus </strong></h2>

 <br><br><br><br><br><br><br><br><br><br><br><br>

   <strong>Sanskrit & Meaning</strong>: Manipura - “Jewel City”, “Seat of gems” <br><br>

   <strong>Location</strong>: upper abdomen between the rib cages <br><br>

   <strong>Element</strong>: Fire <br><br>

   <strong>Sound or Mantra</strong>: "Ram" <br><br>

   <strong>Color</strong>:  Yellow to golden yellow <br><br>

   <strong>Message</strong>: “I am doing.”  “I am in control of my own destiny." <br><br>
   
   <strong>Balanced</strong>: Intellect, personal power, ability to gain expected results, harmonious with self <br> and the world, wisdom for personal direction, assertiveness <br><br>
   
   <strong>Imbalanced</strong>: Digestive system issues, controlling/manipulative behavior, hopelessness, inability to realize <br> ideas or dreams, obsessions, no clear direction in life, self-sabotage, fear of change, worry, anger <br><br>
   
   <strong>Ways to Correct Imbalances</strong>: Discover what “fires you up” in a healthy way; make changes in your life to discover something you enjoy; <br> eat a healthy diet; develop your talents and confidence; cultivate optimism; use the color yellow in surroundings; <br> make plans to accomplish your personal goals and dreams <br><br>
  
</div>  