
 <!-- Highlight Card -->
 <div class="content" role="main">  

 <div class="card highlight-card card-small">
    <h1 style="text-align: center; vertical-align:middle;"><strong>Welcome!</strong></h1>

  </div>
</div>


 <!-- Person w/chakras -->
 <div class="cman">  
 <!-- href="main/main-c/main-c.component.html" -->
    <a >
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chakras_map.svg/256px-Chakras_map.svg.png" 
      style="vertical-align:middle; margin: 30px 80px; width:650px;height:650px;"> 
    </a>
      </div>
