
<!-- <p>thirdeye-c works!</p> -->

     <!-- Third Eye Chakra Card -->
<div class="centr">
      <br> 
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chakra6.svg/512px-Chakra6.svg.png" style="width:160px;height:160px;" class="centr">
      <br><br>
</div>


  <div class="teye"> 
      <br><br><br><br><br><br>

<h2 style="text-align: center; vertical-align:middle;"><strong>Chakra 6: “Third eye”</strong></h2>
      <br><br><br><br><br><br><br><br>
      <br><br><br><br>

<strong>Sanskrit & Meaning</strong>: Ajna - “perceiving”, “knowledge" <br><br>

<strong>Location</strong>:  between the eyebrows <br><br>

<strong>Element</strong>: All elements in pure form <br><br>

<strong>Sound or Mantra</strong>: "KSAM" or "Ham" <br><br>

<strong>Color</strong>:  Indigo or bluish purple <br><br>

<strong>Message</strong>: “I am seeing and perceiving truthfully.” <br> “I am filled with vision.” <br><br>

<strong>Balanced</strong>: Insight, imagination, intuition, illumination, inner peace  <br><br>

<strong>Imbalanced</strong>: Rejection of spirituality, feeling stuck in life with out vision for future, poor clarity, <br> fantasizing, headaches, vision problems <br><br>

<strong>Ways to Correct Imbalances</strong>: Visualize, meditate, open self to inner guide, use of indigo or bluish purple in surroundings <br><br>

</div>