<!-- <p>throat-c works!</p> -->

<div class="cent"> 
  <br><br>
    
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Chakra5.svg/512px-Chakra5.svg.png" style="width:160px;height:160px;" class="cent">
  <br><br>

</div>


<div class="thro"> 
    
        <br><br><br><br><br>


        <h2 style="text-align: center; vertical-align:middle;"><strong>Chakra 5: Throat</strong></h2>

        <br><br><br><br><br><br><br><br><br><br><br><br>

<strong>Sanskrit & Meaning</strong>: Vishuddha - “purification”, “especially pure” <br><br>

<strong>Location</strong>: The middle to base of the throat <br><br>

<strong>Element</strong>: Sound, Frequency/Vibration, Space <br><br> 

<strong>Sound or Mantra</strong>: "Ham" <br><br>

<strong>Color</strong>: Blue <br><br> 

<strong>Message</strong>: “I am speaking truthfully.”  “I am expressing my truth.” <br><br>

<strong>Balanced</strong>: Healthy communication, ability to create ideas into reality <br><br> 

<strong>Imbalanced</strong>: Mean/hurtful speech, gossiping, feeling insecure/fear of speaking, inability to <br> “think before you speak”, 
lying, shyness, throat issues <br><br>

<strong>Ways to Correct Imbalances</strong>: Singing joyfully, speaking your truth, use breathing exercises, chant, use of the color <br> blue in surroundings, 
look to the  clear skies <br><br>

</div>