
<body> 
<div class="centre">
    <br>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Chakra1.svg/512px-Chakra1.svg.png" style="width:200px;height:200px;" class="centre">
<br><br>

</div>

<div class="roo"> 
    <br><br><br>

    <h2 style="text-align: center; vertical-align:middle;"><strong>Chakra 1: Base or Root </strong></h2>
    
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>

<strong>Sanskrit & Meaning</strong>: Muladhara - “pillar”, “support”, “base”, “foundation” <br><br>

<strong>Location</strong>: Base of the spine, near the perineum, in the coccyx area <br><br>

<strong>Element</strong>: Earth <br><br>

<strong>Sound or Mantra</strong>: "Lam" <br><br>

<strong>Color</strong>:  Red or dark red <br><br>

<strong>Message</strong>: “I am existing.”  “I am fully supported.” <br><br>

<strong>Balanced</strong>: Feelings of safety, security and self-preservation; courageous; orderly; <br> emotionally, mentally, 
 physically, spiritually and economically stable; <br> deep connection with earth and nature, physical strength, ability to trust <br><br>

<strong>Imbalanced</strong>: Survival mode of living; laziness; greed; fear-ruled behaviors and thinking; 
worrying;  <br> anxiety;  rage/resentment; narcissism; bone and muscular issues; lower-back pain, 
<br> sciatica; constipation; physical weakness <br><br>

<strong>Ways to Correct Imbalances</strong>: Eat a healthy diet; physical exercise (walking, jogging, 
 jumping, weight-lifting), develop <br> or create personal security; use of color red and other “earthy” colors, gardening <br><br>

</div>

</body>