

<body> 
 
  <div> 
    

<!-- General Info routed links -->
<div>
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chakras_map.svg/256px-Chakras_map.svg.png" style="width:260px;height:260px;" class="center"> 
       
</div>


  <!-- General Info routed links -->
  </div>

<div class="info"> 


  <span><h2 style="text-align: center;">"The 7"</h2></span>

</div>

<div class="para"> 
<br><br>
  
    The study of the major chakra system has an ancient history and has been practiced in <br>
     Eastern spiritual traditions for generations. These ancient beliefs state that seven <br> 
     primary chakras, which translates to “disks” or “wheels”, are the bio-energetic <br> 
     foundation of human life.<br> <br>
    
    The basic human chakra system is located along the spine, and begins at the base and ends <br>
    on the top of the head. Each chakra is represented by a color, sound, and relates to different <br>
    aspects of the human body, belief and thought processes. They even affect the mental, emotional, <br>
    physical, energetic and spiritual states of the human condition.  <br>
    
    <br> The chakra allow energy to flow through the body from the base to the crown (top) of the 
    <br> head as well as in the opposite direction. With adequate and healthy energy exchange occurs, <br> 
    health is experienced. When the opposite is true, disease occurs.<br>
    <br> 7. <strong> Crown chakra</strong> — top of the head — violet
    <br> 6. <strong>Third Eye chakra</strong>  — forehead, above between the eyes — indigo
    <br> 5. <strong>Throat chakra</strong> — base of the throat — blue
    <br> 4. <strong>Heart chakra</strong>  — center of the chest — green
    <br> 3. <strong>Solar Plexus chakra</strong>   — stomach area — yellow
    <br> 2. <strong>Sacral chakra</strong>  — just below the navel — orange
    <br> 1. <strong>Root chakra</strong>  — base of the spine — red 
    
  </div>
 
</body>