
img{
width: 80%;
margin:30px auto;
display:block;
}

.container{
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
 }

.container .mat-drawer {
    min-width: 200px;
}


.container .mat-drawer .mat-button {
display: block;
width: 100%;
text-align: left;

}

.spacer {

    flex: 1 1 auto;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }


/* centers text on top badge */
.center {
    text-align: center;
    }
  
    
  /* adds space on tool bar and between other elements*/
    .spacer {
      flex: .5; 
    }
   
   
    /* top purple toolbar */
    .toolbar { 
      text-align: center;
      position: absolute; /* absolute; */
      top: 0;
      left: 200px;
      right: 200px;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #9775cdfe;
      color: rgb(8, 1, 1);
      font-weight: 600;
      
    }

  
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column; /* need row (instead of "column" flex-direction) here, but need to re-align other parts of page for this to look right*/
      align-items: center;
    }
  
  
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }


    .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card.card-small {
        height: 16px;
        width: 168px;
      }
    
      .card-container .card:not(.highlight-card) {
        cursor: pointer;
      }
    
      .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
    
      .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      }
    
      /* smaller header */
      .card.highlight-card {
        background-color: #ceb9e3;
        color: rgb(24, 23, 23);
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 60%;  /* original: 30% (^60% is wider) */
        position: relative;  /* originally: relative; */
      }
    
      .card.card.highlight-card span {
        margin-left: 60px;
      }

       
    a,
    a:visited,
    a:hover {
      color: #3d218f;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }
  
   
  
  
  /* circles at the bottom of the page */ 
  
    .circle-link {     
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 8px;
      background-color: white;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: 1s ease-out;
    }
  
    .circle-link:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
  
    footer {
      margin-top: 16px; /* 8px*/
      /* margin-left: 400px; */
      display: flex;
      align-items: center;
      line-height: 40px;  /* 20px*/
    }
  
    footer a {
      display: flex;
      align-items: center;
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {  /* original: max-width: 767px */
  
        .card-container > *:not(.circle-link) ,
        .terminal {
          width: 100%;
        }
    
        .card:not(.highlight-card) {
          height: 16px;
          margin: 8px 0;
        }
    
        .card.highlight-card span {
          margin-left: 72px;
        }
    }

  