


<div class="nav"> 

  <ul>  
     <li> <a routerLink="/welcome"><h4>Welcome </h4></a></li>
    <li> <a routerLink="/info"><h4>Overview </h4></a></li>
    <li> <a routerLink="/crown"><h4> Crown</h4></a></li>
    <li> <a routerLink="/thirdeye"><h4>Third Eye </h4></a></li>
    <li> <a routerLink="/throat"><h4> Throat</h4></a></li>
    <li> <a routerLink="/heart"><h4> Heart</h4></a></li>
    <li> <a routerLink="/solar"><h4>Solar Plexus </h4></a></li>
    <li> <a routerLink="/sacral"><h4>Sacral </h4></a></li>
    <li> <a routerLink="/root"><h4>Root </h4></a></li>
    <li>Products</li>

      <!-- <div class="dropdown-container">  -->
         <a routerLink="/rings"><h4>Rings </h4></a>
         <a routerLink="/rawstones"><h4>Raw Gemstones </h4></a>  
         <a routerLink="/polstones"><h4>Polished Gemstones </h4></a>
      <!-- </div> -->
 </ul>
   </div>
<!-- </div> -->

  
<!-- Top Toolbar -->

<div class="toolbar" role="banner">

 
 <!-- <span>Welcome</span> --> 
 <div class="spacer"></div>
  
<span><h1 style="text-align: center;"><strong><em> NRG FLOW CENTER </em></strong></h1></span> 
    

  </div>    


<div class="content" role="main">

 
</div>


<router-outlet></router-outlet>


   <!-- Links -->

  
   <div class="card-container">
  
    
    <a class="circle-link" title="Info" href="./info" target="_blank" rel="noopener">
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chakras_map.svg/256px-Chakras_map.svg.png" style="width:h40px;height:h40px;">  
    </a>


    <a class="circle-link" title="Crown" href="./crown" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Chakra7.svg/512px-Chakra7.svg.png" style="width:h40px;height:h40px;">  
    </a>


    <a class="circle-link" title="Third-Eye" href="./thirdeye" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chakra6.svg/512px-Chakra6.svg.png" style="width:h40px;height:h40px;">
  </a>


    <a class="circle-link" title="Throat" href="./throat" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Chakra5.svg/512px-Chakra5.svg.png" style="width:h40px;height:h40px;">
   </a>

    <a class="circle-link" title="Heart" href="./heart" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Chakra4.svg/512px-Chakra4.svg.png" style="width:h40px;height:h40px;">
    </a>


    <a class="circle-link" title="Solar Plexus" href="./solar" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Chakrah4.svg/512px-Chakrah4.svg.png" style="width:h40px;height:h40px;">
    </a>


    <a class="circle-link" title="Sacral" href="./sacral" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Chakra2.svg/512px-Chakra2.svg.png" style="width:h40px;height:h40px;">
    </a>


    <a class="circle-link" title="Root" href="./root" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Chakra1.svg/512px-Chakra1.svg.png" style="width:h40px;height:h40px;">

    </a>

    <a class="circle-link" title="Resource" href="https://iarp.org/chakra-basics" target="_blank" rel="noopener">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%h4AANd9GcTRcWQqqVfwb9qNtzZ4vvHvCDelebe08oX5Ug&usqp=CAU" style="width:50px;height:h40px;">
   </a>

  </div>



  <!-- Footer -->
  <!-- 
  <footer> 

        <h4 style="text-align: center,"> Want to learn more?</h4>&nbsp; 
     
      <a href="https://iarp.org/chakra-basics" target="_blank" rel="noopener"> Check out this link. </a>

    </footer> -->

  