


<div class="nav"> 

  <ul> 
    <li> <a routerLink="/welcome"><h3>Welcome </h3></a></li>
    <li> <a routerLink="/info"><h3>Overview </h3></a></li>
    <li> <a routerLink="/crown"><h3> Crown</h3></a></li>
    <li> <a routerLink="/thirdeye"><h3>Third Eye </h3></a></li>
    <li> <a routerLink="/throat"><h3> Throat</h3></a></li>
    <li> <a routerLink="/heart"><h3> Heart</h3></a></li>
    <li> <a routerLink="/solar"><h3>Solar Plexus </h3></a></li>
    <li> <a routerLink="/sacral"><h3>Sacral </h3></a></li>
    <li> <a routerLink="/root"><h3>Root </h3></a></li>
  </ul>

</div>

  
<!-- Top Toolbar -->

<div class="toolbar" role="banner">

 
 <!-- <span>Welcome</span> --> 
 <div class="spacer"></div>
  
<span><h1 style="text-align: center;"><strong><em> Overview of the Seven Centers of Energy Flow </em></strong></h1></span> 
    

  </div>    


<div class="content" role="main">

 
</div>


<router-outlet></router-outlet>


   <!-- Links -->

  
   <div class="card-container">
  
    
    <a class="circle-link" title="Info" href="./info" target="_blank" rel="noopener">
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chakras_map.svg/256px-Chakras_map.svg.png" style="width:30px;height:30px;">  
    </a>


    <a class="circle-link" title="Crown" href="./crown" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Chakra7.svg/512px-Chakra7.svg.png" style="width:30px;height:30px;">  
    </a>


    <a class="circle-link" title="Third-Eye" href="./thirdeye" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chakra6.svg/512px-Chakra6.svg.png" style="width:30px;height:30px;">
  </a>


    <a class="circle-link" title="Throat" href="./throat" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Chakra5.svg/512px-Chakra5.svg.png" style="width:30px;height:30px;">
   </a>

    <a class="circle-link" title="Heart" href="./heart" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Chakra4.svg/512px-Chakra4.svg.png" style="width:30px;height:30px;">
    </a>


    <a class="circle-link" title="Solar Plexus" href="./solar" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Chakra3.svg/512px-Chakra3.svg.png" style="width:30px;height:30px;">
    </a>


    <a class="circle-link" title="Sacral" href="./sacral" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Chakra2.svg/512px-Chakra2.svg.png" style="width:30px;height:30px;">
    </a>


    <a class="circle-link" title="Root" href="./root" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Chakra1.svg/512px-Chakra1.svg.png" style="width:30px;height:30px;">

    </a>

    <a class="circle-link" title="Resource" href="https://iarp.org/chakra-basics" target="_blank" rel="noopener">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRcWQqqVfwb9qNtzZ4vvHvCDelebe08oX5Ug&usqp=CAU" style="width:50px;height:30px;">
   </a>

  </div>



  <!-- Footer -->
  <!-- 
  <footer> 

        <h3 style="text-align: center,"> Want to learn more?</h3>&nbsp; 
     
      <a href="https://iarp.org/chakra-basics" target="_blank" rel="noopener"> Check out this link. </a>

    </footer> -->

  