
<div class="centerr">
<br><br><br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Chakra7.svg/512px-Chakra7.svg.png" style="width:160px;height:160px;" class="centerr">
<br><br><br><br><br><br><br>
</div>

<div class="crown"> 
  <br><br>
    <h2 style="text-align: center; vertical-align:middle;"><strong>Chakra 7: Crown or “Crown Lotus”</strong></h2>
  <br><br><br><br><br><br><br> 
  <br><br><br><br><br><br><br> 
   <strong>Sanskrit & Meaning</strong>: Sahasrara - “Thousand-Petaled Lotus Flower"
    <br><br> 
     <strong>Location</strong>: Slightly above the top of the head
     <br><br>
       <strong>Element</strong>: Cosmic/universal energy
       <br><br>
        <strong>Sound or Mantra</strong>: "OM"
        <br><br>
          <strong>Color</strong>: Violet to Pure White, Golden Rays of Light
          <br><br>
           <strong>Message</strong>: “I am filled with truthful understanding.” “I am fully aware."
           <br><br>
            <strong>Balanced</strong>: Feelings of spiritual freedom and uninhibited energy flow in the body, <br>universal and Divine
              connectedness
             <br><br>
              <strong>Imbalanced</strong>: Delusions, mental disorders, crises in spirituality
               <br><br>
                 <strong>Ways to Correct Imbalances</strong>: Visualize being completely filled with pure white light;
                 correct<br> imbalances in other chakras; seek out a Reiki Master or Energy Healer;
                  use of the color <br>violet or light purple in surroundings

</div>