<!-- <p>heart-c works!</p> -->

     <!-- Heart Chakra Card -->
     <div class="cente">
      <br>  
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Chakra4.svg/512px-Chakra4.svg.png" style="width:200px;height:200px;" class="cente">
    <br><br><br>
    </div>


<div class="heart"> 
    <!-- <br><br><br><br><br><br> -->
    <br><br><br><br><br><br><br>
       <h2 style="text-align: center; vertical-align:middle;"><strong>Chakra 4: Heart</strong></h2>
   
      <br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br>

<strong>Sanskrit & Meaning</strong>:  Anahata - “unhurt”, “unstruck” <br>

<br><strong>Location</strong>: Center of the rib cage area, near the heart <br>

<br><strong>Element</strong>: Air <br>

<br><strong>Sound or Mantra</strong>: "Yam" <br>

<br><strong>Color:</strong> Green <br>

<br><strong>Message</strong>: “I am loving.”  “I am an expression of love." <br>

<br><strong>Balanced</strong>: Acceptance of self and others, emotionally balanced, feeling interconnected,<br>  friendly, 
discernment, healthy giving and receiving, compassion <br>

<br><strong>Imbalanced</strong>: Dysfunctional relationships; heart, lung, and upper back issues; immune and circulatory <br> 
systems issues; heart chakra pain; “savior/rescuer” roles; co-dependence <br>

<br><strong>Ways to Correct Imbalances</strong>: Cultivate self care; compassion and love; do healthy activities you love; 
forgive self <br> and others; practice gratitude; receive the goodness in life; give good things to others and/or <br> positive 
energy (or thoughts) to nature;  use the color green in surrounding, nature walks 


</div>


