/* text */

.heart{
    text-align: center;
    /* margin: -375px 60px; */
     margin-left: auto;
     margin-top: -550px;
     margin-bottom: 100px;
     padding-bottom: 50px;
   }
   
   /* pict*/

   .cente{
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top: -150px;
       margin-bottom: 40px;
       width: 50%;
     }

     